cr==1.10
Django>=5.1,<6.0
psycopg>=3.2.0
Pillow>=11.0.0
django-widget-tweaks>=1.5.0
djangorestframework>=3.16.0
django-allauth>=65.9.0
django-filter>=25.1
wagtail>=6.4.2
sqlparse>=0.5.3
asgiref>=3.8.1
tzdata>=2025.2
